body.anu-band.not-logged-in #content-main {
  display: none;
}

body.anu-band #block-system-main,
body.anu-band #block-system-main .node {
  margin-bottom: 0;
}

/* Temporary hack for block margins. */
body.anu-band .region-header .block {
  margin-bottom: 0;
}
